<%- include("./partials/header.js") %>
    
    <section class="container">

        <section class="dashboard_container">
            <h2>My Dashboard</h2>
            <a href="/" class="btn btn-primary btn-sm">
                Log out
            </a>
        </section>

        <br>

        <h1>Welcome <span><%= locals.authUsername %></span>.</h1>
        
        <h3>Your email address is <span><%= locals.authEmail %></span>.</h3>
    </section>

<%- include("./partials/footer.js") %>