<%- include("./partials/header.js") %>

        <section class="d-flex justify-content-center align-items-center">
            <section class="container">
                <h2 style="text-align: center;">----Login----</h2>
                <%- locals.error %>
                <form action="/dashboard" method="POST">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    </div>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="/register" class="btn btn-primary">Register</a>
                    </div>
                </form>
                
                <br>

                
            </section>
        </section>

<%- include("./partials/footer.js") %>
    