<%- include("./partials/header.js") %>

    <section class="d-flex justify-content-center align-items-center">
        <section class="container">
            <h2 style="text-align: center;">----Register----</h2>
            <%- locals.message %>
            <form action="/register" method="POST">
                <div class="mb-3">
                    <label for="exampleInputUsername" class="form-label">Username:</label>
                    <input type="username" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp" name="username" required>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a href="/" class="btn btn-primary">Home</a>
                </div>
            </form>                
        </section>
    </section>

<%- include("./partials/footer.js") %>