<%- include("./partials/header.js") %>

    <section class="d-flex justify-content-center align-items-center">
        <section class="container">
            <h1>Register Successful ✅</h1>
            <h2>Please login <a href="/">here</a>.</h2>
        </section>
    </section>

<%- include("./partials/footer.js") %>